/vendor
/node_modules
/public/magazines-pdf/*
/public/images/audio-disks/*
/public/images/books/*
/public/images/events/*
/public/images/magazines/*
/public/images/video-disks/*
/public/images/albums/*
/public/files/*
.env
