
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #c9532d;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #c9532d;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #c9532d;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #c9532d;
	border-color: #c9532d;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

span.disk-type{
	color: #dea32b;
	font-weight:bold;
}

.more-items{
	padding-top: 10px;
	overflow: hidden;
}
.more-items a{
	display: block;
	float: right;
	color: #FFF;
	background: #dea32b;
	padding: 2px 10px;
	border-radius: 3px;
}
.pub-item .pub-image{
	height: 150px;
	overflow: hidden;
}
.pub-item .item-add-to-cart{
	text-align: center;
}
.pub-item .item-add-to-cart button{
	color: #FFF;
	background: #C9532D;
	border-color: #B53300;
}

.publications-wrap .item .item-label a{
	color: #fff;
}

.side-nav ul li a.select, 
.side-cart .cart-wrap ul li a.select, 
.continue-shopping ul li a.select, 
#form-holder ul li a.select{
	color: #FFF;
}

.magazine-subscription .subs{
	background: #f7f6f4;
  border: 1px solid #e7e6e4;
  padding: 25px 12px;
}

.magazine-subscription .subs h3{
	font-size: 110%;
	margin-top: 0;
}

.magazine-subscription .subs .btn{
		background: #c9532d;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}
.magazine-subscription .subs label{
	padding: 8px 30px;
	margin-bottom: 6px;
	background: #FFF;
	display: block;
}
.album-preview {
  display: block;
  overflow: hidden;
  position: relative;
}

.album-wrap{
	box-shadow: 0 0 10px #D7D7D7;
	padding: 10px;
	border-radius: 3px;
}

.album-preview{
	height: 290px;
	overflow: hidden;
	text-align: center;
}

.album .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: -100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  color: #FFF;
}

.album-details {
  background-color: #f3f5f5;
  padding: 20px;
}

.photo{
	width: 25%;
}

.photo .photo-wrap{
	padding: 2px;
	background: #E7E6E4;
}

.photo img{
	width: 100%;
}

.photos-container.loading{
	display: none;
}

.event-cover-photo{
	height: 186px;
	overflow: hidden;
}
.event-cover-photo img{
	width: 100%;
}
.event-dates{
	background-color: #c9532d;
  color: #fff;
  float: left;
  padding: 10px 15px;
  text-align: center;
}
img.left{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

img.right{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}


.main-cart .table > tbody > tr > td{
	vertical-align: middle;
}

.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #c9532d;
}
.red-tooltip + .tooltip > .tooltip-arrow { 
	border-bottom-color:#c9532d; 
}
.publication-years {
  background: none repeat 0 0 #f7f6f4;
  border: 1px solid #e7e6e4;
  padding: 25px 12px;
}
.publication-years h2 {
  background: url("../images/side-nav-heading-border.jpg") repeat-x left bottom transparent;
  border: medium none;
  color: #dea32b;
  margin-top: 0;
  padding-bottom: 25px;
}
.publication-years ul, .publication-years li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.publication-years a {
  background: none repeat #fff;
  border: 1px solid #f7f6f4;
  border-radius: 8px;
  color: #5d5d5d;
  display: block;
  padding: 10px 24px;
  text-decoration: none;
}
.publication-years a.select {
  background: #c9532d;
  color: #FFF;
}

.magazines {
  padding-top: 10px;
  padding-bottom: 10px;
}
.magazines .cols {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .magazines .cols {
    float: left;
    width: 25%;
  }
}
.magazines .cols .magazine-wrap {
  border-radius: 3px;
  background: #FFF;
  border: 1px solid #D8D8D6;
  padding: 2px;
}
.magazines .cols .magazine-wrap .cover-wrap {
  overflow: hidden;
  height: 180px;
}
.magazines .cols .magazine-wrap .cover-wrap img {
  width: 100%;
}
.magazines .cols .magazine-wrap .details {
  text-align: center;
  padding: 5px;
}
.magazines .cols .magazine-wrap .details a.btn {
  background: #c9532d;
  border-color: #b53300;
  color: #fff;
}
